# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log files
*.log

# debug information files
*.dwo

# Doxygen-related files
cxWidgets.tag

# Compiled binaries
testApp
keys
cxUnitTest
test_cxInput
test_cxDate
test_cxStringUtils
test_cxValidators

# Misc. stuff
DevNotes.txt
devNotes.txt
devnotes.txt

# IDE
.idea/

# Demo
snake_demo
snake_demo.dSYM
flashcard_demo
flashcard_demo.dSYM
centipede_demo
centipede_demo.dSYM
