# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Log files
*.log

# debug information files
*.dwo

# Doxygen-related files
cxWidgets.tag
docs/html/

# Compiled binaries
testApp
keys
cxUnitTest
test_cxInput
test_cxDate
test_cxStringUtils
test_cxValidators
test_wordwrap
test1
test_sizing
test_cx_widgets
test_string_utils
test_ui_sizing
test_date
test_validators

# Test artifacts
tests/*.dSYM/
tests/test_sizing
manual/cxInput/test_cxInput
manual/cxInput/test_cxInput.log
DevNotes.txt
devNotes.txt
devnotes.txt

# IDE
.idea/
.junie/

# Demo
snake_demo
snake_demo.dSYM
flashcard_demo
flashcard_demo.dSYM
centipede_demo
centipede_demo.dSYM
spreadsheet
spreadsheet.dSYM
*.dSYM/
